<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de footer</title>
    <script src="https://kit.fontawesome.com/c1df23fbda.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="footer.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <footer class="pie">

        <hr>
        <div class="section">
            <div>

                <h2>Conoce el estado</h2>
                <a href="https://edomex.gob.mx/">*Portal del Gobierno del Estado de México</a>
                <a href="https://www.secogem.gob.mx/SAM/sit_atn_mex.asp">*Quejas y Denuncias</a>
                <a href="http://cemer.edomex.gob.mx">*Comisión Estatal de Mejora Regulatoria</a>
                <a
                    href="https://www.ipomex.org.mx/ipo3/lgt/indice/utvtol.web?token=03AKH6MRGOhZ9F7BdEAXlVdBJFIMJa7k1jaItGPF3W-kcVyzlfd8L9Ph1yLbD5z3jTnPW5_N88DAYvg5caUoCyHdb9C4YPqEaGRbXpEd9f1w6Tlf-_Gjb6WoUvIhVmjgaI0DfkJ8oreb-GRxklMSIN3Armkv4zN40S0nzVu4hyk2MdxyhlGKcYFZCudVCwclRbKZT1U9SS-yZkqlMANx-MF8S4DMRGZfKhpaD_q9oGBL6xQtmiq_j21HHaDONDMMmjlbxoWCajWUeE00mXICkp9VWXmLbxqlVBDd8mr_r4gcYT3BPMRrEP7IqcWkaDapAKddaTAY1svJU1Flo4vYsSEUr8DH4-gvVQuuaqirUXdsPUEFhL4FsB6c69GHOAzriqtKb64vwNq9YXn-OmOTEuUlS_fp3uU6N4ZPCxZAAKADkdd8Qwi7mJSaucJ4KY1IK3OKEH-oOX5tW8DZhoXfITGcl3BEMpx3APmoJOBLsd3RJuhzTCz7oEqMnvHhzSObrUYisrc0D_9H3DZ64oaYbucDd7hi1L1XkcGktl0MOgf_M1yV5kX-Z30BtP-G2DByrVnUqvQOH6RdhE">
                    *Información Pública de oficio Mexiquense</a>
                <a href="https://saimex.org.mx/saimex/ciudadano/login.page">*Solicitud de Información</a>
            </div>
            <div>
                <h2>Acerca del Sitio</h2>
                <a href="https://utvt.edomex.gob.mx/contactanos">*Contáctanos</a>
                <a href="https://utvt.edomex.gob.mx/sitemap">*Mapa del sitio</a>
                <a href="https://utvt.edomex.gob.mx/legales">*Avisos legales</a>
                <a href="https://utvt.edomex.gob.mx/acerca_sitio">*Acerca del sitio</a>
            </div>
            <div>
                <h2>Contacto
                </h2>

                <a
                    href="https://www.google.com/maps/place/Universidad+Tecnológica+del+Valle+de+Toluca/@19.3404032,-99.4752556,15z/data=!4m2!3m1!1s0x0:0x1c254456341588a0?sa=X&ved=2ahUKEwin9pDLmfj9AhWXK0QIHURcBlIQ_BJ6BAhbEAk">
                    *Carretera del Departamento del D.F. km 7.5<br> Santa María Atarasquillo Municipio de Lerma
                    C.P. 52044</a>
                <a>(728) 2859048 / 2859536 <br> 2859552 / 2859969</a>

            </div>
            <div>
                <h2>Enlaces de Interés</h2>
                <a href="https://sarcoem.org.mx/sarcoem/ciudadano/login.page">*SARCOEM</a>
                <a href="https://www.saimex.org.mx/saimex/ciudadano/login.page">*SAIMEX</a>
                <a href="https://www.transparenciaestadodemexico.org.mx/denciu/denuncia/insert.page">*DENUNCIAS
                    *IPOMEX</a>
                <a href="https://utvt.edomex.gob.mx/sites/utvt.edomex.gob.mx/files/files/AVISO%20INTEGRAL%20UTVT.pdf">
                    *AVISO DE PRIVACIDAD</a>
            </div>
            <div>
                <h2></h2>
                <img src="//utvt.edomex.gob.mx/sites/utvt.edomex.gob.mx/files/UTVT_escudos2.png" width="300"
                    height="100" alt="">

            </div>
        </div>

    </footer>

</body>

</html>