<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saiiut</title>
</head>

<body>
    <style>
        h1 {
            text-align: center;
        }
    </style>
    <h1>Bienvenidos al Sistema Automatizado de la UTVT (SAIIUT)</h1>
    <div style="text-align:center;">
        <img src="assets/imagenes/Saiiut.jpg" width="1000" height="500" alt="Docente">
    </div>
    <br>
    <div class="d-grid gap-3 col-6 mx-auto">

        <button class="btn btn-outline-success" type="button"
            onclick="window.location.href='http://saiiut.utvtol.edu.mx'">Ir al SAIIUT</button>
    </div>
    <br>


</body>

</html>