<!DOCTYPE html>
<html>

<head>
    <title>Oferta-Educativa</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Oferta Educativa</h1>
    <div style="text-align:center;">
        <img src="assets/imagenes/rectoria.jpg" alt="Descripción de la imagen">
    </div>
    <p>Te damos la bienvenida a la página web de la Universidad Tecnológica del Valle de Toluca, aquí podrás consultar
        toda la información respecto a nuestra oferta educativa. <br> Así como de los servicios que tenemos para ti a
        través de la Secretaría de Educación Pública, el Gobierno Federal y el Gobierno del Estado de México.</p>

</body>

</html>