<!DOCTYPE html>
<html>

<head>
    <title>Oferta-Educativa</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Tramites y Servicios</h1>
    <div style="text-align:center;">
        <img src="assets/imagenes/tramites.jpg" width="900" height="1200" alt="Tramites">

    </div>
    <br>
    <div class="btn-group btn-group-lg d-flex justify-content-center" role="group" aria-label="Large button group">
        <button type="button" class="btn btn-outline-success"
            onclick="window.location.href='https://utvt.edomex.gob.mx/sites/utvt.edomex.gob.mx/files/files/7.-%20TRÁMITES%20Y%20SERVICIOS/MAN%20IND.pdf'">MI</button>
        <button type="button" class="btn btn-outline-success"
            onclick="window.location.href='https://utvt.edomex.gob.mx/sites/utvt.edomex.gob.mx/files/files/7.-%20TRÁMITES%20Y%20SERVICIOS/Presentación%20Cuentas%20Contigo%202021.pdf'">CC2.0</button>
        <button type="button" class="btn btn-outline-success"
            onclick="window.location.href='https://utvt.edomex.gob.mx/sites/utvt.edomex.gob.mx/files/files/7.-%20TRÁMITES%20Y%20SERVICIOS/ANEXO%20LISTA%20DE%20ALUMNOS%20ACEPTADOS.pdf'">A</button>
    </div>
    <br>

</body>

</html>