<!DOCTYPE html>
<html>

<head>
    <title>Oferta-Educativa</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Docente</h1>
    <div style="text-align:center;">
        <img src="assets/imagenes/docente.jpg" width="1000" height="500" alt="Docente">
    </div>
    <div style="text-align:center;">
        <a
            href="https://utvt.edomex.gob.mx/sites/utvt.edomex.gob.mx/files/files/5.-%20VINCULACIÓN/Comunicado%20a%20los%20Sectores%20Productivos%20(02%20Abr_%202020).pdf"><img
                src="asset/imagenes/docente.jpg"></a>
    </div>


</body>

</html>